<ion-header>
  <ion-navbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-title>Listar Agendamentos</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-label>Data Inicial</ion-label>
    <ion-item class="item">
     
      <ion-datetime name="dt_ini" maxlength="10" placeholder="Data Inicial" [(ngModel)]="dt_ini" required></ion-datetime>
    </ion-item>
    <ion-label>Data Final</ion-label>
    <ion-item class="item">
      
      <ion-datetime name="dt_fin" maxlength="10" placeholder="Data Final" [(ngModel)]="dt_fin" required></ion-datetime>
    </ion-item>
  <div padding>
    <button ion-button large block class="btn-cons" (click)="getListRequests(dt_ini,dt_fin)" color="secondary">Consultar</button>
  </div>
  

  <ion-card *ngFor="let item of list">
    <div class="item-info">
      <!-- <p><b class="title">Cod. Agendamento: </b><span class="text">{{item.cod_solicitacao}}</span></p> -->
      <p><b class="title">Local: </b><span class="text">{{item.nome_unidade}}</span></p>
      <p><b class="title">Serviço: </b><span class="text">{{item.servico}}</span></p>
      <!-- <p><b class="title">Placa: </b><span class="text">{{item.placa_veiculo}}</span></p> -->
      <!-- <p><b class="title">Realizado em: </b><span class="text">{{item.dt_agendada | date: 'dd/MM/yyyy'}}</span></p> -->
      <p><b class="title">Data do Agendamento: </b><span class="text">{{item.dt_agendamento | date: 'dd/MM/yyyy'}}</span></p>
      <p><b class="title">Status: </b><span class="text">{{item.status_solicitacao}}</span></p>
      <p class="buttons">
        <button ion-button full class="btn-control"  *ngIf="item.status_solicitacao != 'CONCLUIDO'" disabled color="secondary">LAUDO</button>
        <button ion-button full class="btn-control" (click)="opemReport(item.cod_solicitacao)" *ngIf="item.status_solicitacao == 'CONCLUIDO'" color="secondary">LAUDO</button>
      </p>
    </div>
  </ion-card>
</ion-content>
