page-control {
    img{
        display: flex;
        margin-top: 5rem;
    }
    .info{
        font-size: 3rem;
        font-weight: bolder;
        color: #FFD400;
        text-align: center;
    }

    .back-button {
        color: #000 !important;
    }
}
