page-control {
    img{
        display: flex;
        margin-top: 5rem;
    }
    .info{
        font-size: 3rem;
        font-weight: bolder;
        color: #FFD400;
        text-align: center;
    }

    .toolbar-md-primary .bar-button-clear-md, .toolbar-md-primary .bar-button-default-md, .toolbar-md-primary .bar-button-outline-md, .toolbar-md-primary .toolbar-title-md  {
        color: #fff;
      }
    
      .toolbar-ios-primary .toolbar-title-ios, .toolbar-ios-primary .bar-button-clear-ios, .toolbar-ios-primary .bar-button-default-ios {
        color: #fff;
      }
}
