<ion-header>
  <ion-navbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-title>Minhas Solicitações</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card class="card-top">
    <ion-card-header class="header-card-top">
      <ion-card-title class="header-card-title-top">INFORME A DATA DA CONSULTA</ion-card-title>
    </ion-card-header>
    <ion-list>
      
    <ion-item class="item">
      <ion-label>Data Inicial</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" placeholder="dd/mm/aaaa" [(ngModel)]="request.dt_ini"></ion-datetime>

    </ion-item>
    
    <ion-item class="item">
      <ion-label>Data Final</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" placeholder="dd/mm/aaaa" [(ngModel)]="request.dt_fin"></ion-datetime>
    </ion-item>
      </ion-list> 
    </ion-card>
    <div *ngIf="lisSchedules">
      <ion-card class="card-content" *ngFor="let item of lisSchedules">
        <div class="item-info">
          <ion-grid>
            <ion-row>
              <ion-col class="title">Cod. Os: </ion-col>
              <ion-col class="text">{{item.cod_solicitacao}} </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="title">Placa:</ion-col>
              <ion-col class="text">{{item.placa_veiculo}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="title">Serviço: </ion-col>
              <ion-col class="text">{{item.servico}} </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="title">Valor</ion-col>
              <ion-col class="text">R$ {{item.vr_servico}},00</ion-col>
            </ion-row>
          </ion-grid>
          
          <!-- <p><b class="title">Cod. Os: </b><span class="text">{{item.cod_solicitacao}}</span></p>
          <p><b class="title">Placa: </b><span class="text">{{item.placa_veiculo}}</span></p>
          <p><b class="title">Local: </b><span class="text">{{item.nome_unidade}}</span></p>
          <p><b class="title">Serviço: </b><span class="text">{{item.servico}}</span></p>
          <p><b class="title">Valor: </b><span class="text">R$ {{item.vr_servico}},00</span></p>
          <p><b class="title">Status: </b><span class="text">{{item.status_solicitacao}}</span></p> -->
          <!-- <p class="buttons">
            <button ion-button full class="btn-control"  *ngIf="item.status_solicitacao != 'AGENDADO'" disabled color="secondary">Iniciar Vistoria</button>
            <button ion-button full class="btn-control" (click)="opemInspect(item.cod_solicitacao)" *ngIf="item.status_solicitacao == 'AGENDADO'" color="secondary">Iniciar Vistoria</button>
          </p> -->
        </div>
      </ion-card>
    </div>
  
</ion-content>
<ion-footer class="footer">
  
  <button ion-button size="large" block color="secondary" class="btn-comprar" (click)="send(request)">CONSULTAR
  </button>

</ion-footer>
