page-list-request {

    
    ion-input{
        //background-color: #5f5f5e;
        border-radius: 5px;
        margin: 5px;
        color: #FFD400;
        padding: 2px;
      }
      ion-label{
        -webkit-flex: none!important; 
        flex: none!important; 
        font-size: 16px;
        margin-left: 8px!important;
        color: #ccc;
      }

      .card-top{
        text-align: center;
        .header-card-top{
          background-color: #FFD400;
          text-align: center;
          .header-card-title-top{
            font-size: 1.2em;
            color: #fff;
          }
        }
        
      }

      .card-content{
        padding: 5%;
        border-radius: 10px;
      }

      .title-pri{
        font-size: 18px;
        background-color: #FFD400;
        color: #fff;
        text-align: center;
      }
      
      .item-info{
        //background-color: #5f5f5e;
        position: relative;
        top: 0px;
        left: 7px;
        width: 100%;
        float: right;
        font-size: 14px;
        color: #ccc;
        
        p{
          margin: 1px;
        }
        .price-text{
          margin-left: 6px;
        }
        .text{
          font-size: 1em;
          color: #000;
        }
      }
    
      .title{
        font-size: 1.3em;
        color: #FFD400;
        font-weight: bold;
    }
    .disbled{
      display: block;
    }
    .btn-control{
      margin-left: -2%;
      margin-bottom: 0%;
      color: #FFD400;
    }
}
