<ion-header>
  <ion-navbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-title>Cadastro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid class="grid-form">
    <ion-row>
      
        <form class="form" [formGroup]="signupForm" novalidate>
          <div>
            <ion-input type="text" #name formControlName="cpf" id="cpf" [brmasker]="{person: true}" placeholder="Cpf/CNPJ"
              (keyup.enter)="focusInput(phone)"></ion-input>
              <div *ngIf="signupForm.controls.cpf.errors && (signupForm.controls.cpf.dirty || signupForm.controls.cpf.touched)">
                <ion-label class="error-message" *ngIf="signupForm.controls.cpf.errors?.required">Esse campo é obrigatório</ion-label>
              </div>
          </div>
          <div>
            <ion-input type="text" #name formControlName="name" id="name" placeholder="Nome"
              (keyup.enter)="focusInput(phone)"></ion-input>
              <div *ngIf="signupForm.controls.name.errors && (signupForm.controls.name.dirty || signupForm.controls.name.touched)">
                <ion-label class="error-message" *ngIf="signupForm.controls.name.errors?.required">Esse campo é obrigatório</ion-label>
                <ion-label class="error-message" *ngIf="signupForm.controls.name.errors?.minlength">Mínimo 3 caracteres</ion-label>
              </div>
          </div>
          <div>
            <ion-input type="tel" #phone formControlName="phone" id="telephone" placeholder="Telefone"
              (keyup.enter)="focusInput(email)" [brmasker]="{phone: true}"></ion-input>
              <div *ngIf="signupForm.controls.phone.dirty || signupForm.controls.phone.touched">
                <ion-label class="error-message" *ngIf="signupForm.controls.phone.errors?.required">Esse campo é obrigatório</ion-label>
              </div>
          </div>
          <div>
            <ion-input type="email" #email formControlName="email" id="email" placeholder="Email"
              (keyup.enter)="focusInput(usuario)"></ion-input>
              <div *ngIf="signupForm.controls.email.dirty || signupForm.controls.email.touched">
                <ion-label class="error-message" *ngIf="signupForm.controls.email.errors?.required">Esse campo é obrigatório</ion-label>
                <ion-label class="error-message" *ngIf="signupForm.controls.email.errors?.pattern">Email inválido</ion-label>
              </div>
          </div>
          <div>
            <ion-input type="text" #usuario formControlName="usuario" id="usuario" placeholder="Usuário"
              (keyup.enter)="focusInput(password)"></ion-input>
              <div *ngIf="signupForm.controls.usuario.dirty || signupForm.controls.usuario.touched">
                <ion-label class="error-message" *ngIf="signupForm.controls.usuario.errors?.required">Esse campo é obrigatório</ion-label>
                <ion-label class="error-message" *ngIf="signupForm.controls.usuario.errors?.minlength">Mínimo 3 caracteres</ion-label>
              </div>
          </div>
          <div>
            <ion-input #senha type="password" formControlName="senha" id="senha"
              placeholder="Senha: mínimo 6 digitos" (keyup.enter)="focusInput(confirmar)"></ion-input>
              <div *ngIf="signupForm.controls.senha.dirty || signupForm.controls.senha.touched">
                <ion-label class="error-message" *ngIf="signupForm.controls.senha.errors?.required">Esse campo é obrigatório</ion-label>
                <ion-label class="error-message" *ngIf="signupForm.controls.senha.errors?.minlength">Mínimo 6 caracteres</ion-label>
              </div>
          </div>
          <div>
            <ion-input #confirmar type="password" formControlName="confirmar" id="confirmar"
              placeholder="Senha: mínimo 6 digitos" (keyup.enter)="register()"></ion-input>
              <div *ngIf="signupForm.controls.confirmar.dirty || signupForm.controls.confirmar.touched">
                <ion-label class="error-message" *ngIf="signupForm.controls.confirmar.errors?.required">Esse campo é obrigatório</ion-label>
                <ion-label class="error-message" *ngIf="signupForm.controls.confirmar.errors?.minlength">As senhas não conferem</ion-label>
              </div>
          </div>
          <ion-row>
            <ion-list radio-group formControlName="prof">
              <ion-item class="checkbox">
                <ion-label class="text-radio">PF - Pessoa Física</ion-label>
                <ion-radio class="radio" mode="md" checked="true"value="PF"></ion-radio>
              </ion-item>
              <br>
              <ion-item class="checkbox">
                <ion-label class="text-radio">PJ - Pessoa Jurídica</ion-label>
                <ion-radio class="radio" mode="md" value="PJ"></ion-radio>
              </ion-item>
          </ion-list>
          </ion-row>
        </form>
    
      <button ion-button size="large" block [disabled]="signupForm.invalid" (click)="sigup()" color="primary">Salvar</button>
  
  </ion-row>
  </ion-grid>

</ion-content>
